# ==========================
# Virtual Environment
# ==========================
venv/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Tool Caches
# ==========================
.ruff_cache/
.pytest_cache/
.mypy_cache/

# ==========================
# Chroma Database
# ==========================
chromadb/

# SQLite Database
data/palace_ai.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
